@page "/periodpaymentdetails/{PeriodId:int}"
@using ClinicApp.Core.Models

<PageTitle>Period and payments</PageTitle>

@if (_period == null)
{
    <p>...loading</p>
}
else
{
    <ClinicApp.WebApp.Components.ContentPage Title=@($"Periods and Payments Details: {_period.PayPeriod}")
                                             Icon="@Icons.Material.Outlined.CalendarMonth"
                                             HiddenGoBackButton="false"
                                             GoBackButtonAction="GoBack">
        <MudGrid Spacing="2" Justify="Justify.SpaceAround">
            <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                <MudCard Outlined="true" Elevation="3" Class="blue lighten-4">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">
                            Billed To Insurance
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid Justify="Justify.FlexStart">
                            <MudItem>
                                <MudIcon Icon="@Icons.Material.Outlined.RequestPage" Color="Color.Default" Size="Size.Large" />
                            </MudItem>
                            <MudItem>
                                <MudText Typo="Typo.h5">@calculationResult.BilledToInsurance </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                <MudCard Outlined="true" Elevation="3" Class="yellow lighten-4">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">
                            Amount Paid to Contractors
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid Justify="Justify.FlexStart">
                            <MudItem>
                                <MudIcon Icon="@Icons.Material.Outlined.Payments" Color="Color.Default" Size="Size.Large" />
                            </MudItem>
                            <MudItem>
                                <MudText Typo="Typo.h5">@calculationResult.AmountPaidToContractors</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                <MudCard Outlined="true" Elevation="3" Class="green lighten-4">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">
                            Profit
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid Justify="Justify.FlexStart">
                            <MudItem>
                                <MudIcon Icon="@Icons.Material.Outlined.AttachMoney" Color="Color.Default" Size="Size.Large" />
                            </MudItem>
                            <MudItem>
                                <MudText Typo="Typo.h5"> @calculationResult.Profit </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </ClinicApp.WebApp.Components.ContentPage>
    <MudPaper Class="pa-4 ma-1" Elevation="3">
        <MudGrid Spacing="2" Justify="Justify.SpaceBetween">
            <MudItem>
                <MudGrid Spacing="2" Justify="Justify.FlexStart">

                    <MudItem sm="12" md="5" lg="5">
                        <MudSelect @bind-Value="insuranceSelect" For="@(() =>insuranceSelect)" ToStringFunc="@converter" Label="Insurance" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" TextChanged="OnInsuranceChanged">
                            @if (_insurances == null || _insurances.Count() == 0)
                            {
                                <MudSelectItem T="Insurance" Value="null">No matching records found</MudSelectItem>
                            }
                            else
                            {
                                @foreach (var ins in _insurances)
                                {
                                    <MudSelectItem Value="@ins" />
                                }
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem sm="12" md="5" lg="5">
                        <MudAutocomplete @ref="selContractor" For="@(() => _contractorSelect)" Variant="Variant.Outlined" T="Contractor" Label="Physician" SearchFunc="@SearchContractor" CoerceText="false" ToStringFunc="@converter" DebounceInterval=100 @bind-Value="_contractorSelect" />
                    </MudItem>
                    <MudItem sm="12" md="2" lg="2" Class="d-flex align-center">
                        <MudIconButton Icon="@Icons.Material.Filled.Search" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium" OnClick="SearchClientByInsuranceAndContractor" Disabled="@((insuranceSelect == null || insuranceSelect == default) || (_contractorSelect == null || _contractorSelect == default))" />
                    </MudItem>
                </MudGrid>
            </MudItem>
            <MudItem>
                <MudGrid Justify="Justify.FlexEnd">
                    <MudItem>
                        <MudIconButton Title="Generate and download summary" Size="@Size.Large" Icon="@Icons.Custom.FileFormats.FileExcel" Color="Color.Success" />
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
        <MudGrid Spacing="5">
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Color="@Color.Default" Outlined="true" PanelClass="pa-6">
                    @if (_clients == null || _clients.Count() == 0)
                    {
                        <MudGrid Justify="Justify.Center">
                            <MudItem>
                                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                    There are no associated clients
                                </MudAlert>
                            </MudItem>
                        </MudGrid>
                    }
                    else
                    {
                        @foreach (var client in _clients)
                        {
                            <MudTabPanel Text=@(client.Name) ID="@client.Id" OnClick="@(() => ClientSelected(client.Id))">
                                <MudGrid Spacing="2" Justify="Justify.SpaceBetween">
                                    @if (_serviceLogs == null || _serviceLogs.Count() == 0)
                                    {
                                        <MudGrid Justify="Justify.Center">
                                            <MudItem>
                                                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                                    There are no associated service logs
                                                </MudAlert>
                                            </MudItem>
                                        </MudGrid>
                                    }
                                    else
                                    {
                                        @foreach (var sl in _serviceLogs)
                                        {
                                            <MudItem xs="12" sm="12" md="6" lg="6" xl="6">
                                                <MudTable Items="@sl.UnitDetails" Hover="true" Breakpoint="Breakpoint.Sm"               Loading="@_loading" LoadingProgressColor="Color.Info">
                                                    <HeaderContent>
                                                        <MudTh>Date</MudTh>
                                                        <MudTh>Duration (Quarter)</MudTh>
                                                        <MudTh>Hours</MudTh>
                                                        <MudTh>Place of services</MudTh>
                                                        <MudTh>Procedure</MudTh>
                                                    </HeaderContent>
                                                    <RowTemplate>
                                                        <MudTd DataLabel="Date">@context.DateOfService?.ToShortDateString()</MudTd>
                                                        <MudTd DataLabel="Duration (Quarter)">@context.Unit</MudTd>
                                                        <MudTd DataLabel="Hours">@(context.Unit / 4)</MudTd>
                                                        <MudTd DataLabel="Place of services">@context.PlaceOfService.Name</MudTd>
                                                        <MudTd DataLabel="Procedure">@context.Procedure.Name</MudTd>
                                                    </RowTemplate>
                                                </MudTable>
                                            </MudItem>

                                        }
                                    }
                                </MudGrid>
                            </MudTabPanel>
                        }
                    }
                </MudTabs>
            </MudItem>
        </MudGrid>
    </MudPaper>
}